<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="600px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
    </tr>
    <tr th:each="c : ${customers}">
        <td th:text="${c.getId()}"></td>
        <td th:text="${c.getName()}"></td>
        <td th:text="${c.getAge()}"></td>
        <td th:text="${c.getAddress()}"></td>
    </tr>
</table>
</body>
</html>
